/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.consoleTaskBar {
  width: 500px; 
  height: 45px; 
  
  background-color: #C9C5B0; 
  border: 2px solid red;
  border-bottom: none;

  float: left;
}

#taskbar li {
  display: inline;
}

.canvasWrapper {
  height: 500px;
  width: 500px;
  overflow: auto;

  border: 2px solid red;
  background-color:#DFDBC3;
}


