/* TSOS.css */

/* General/Elements */
body {
  background: #CCCDCF;

  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

.main {
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

/* Control Bar */
.control-bar {
  width: 100vw;
  display: block;
  padding-top: 15px;
  margin-left: 4px; 
  text-align: left;
}

.title-text {
  text-decoration: none;
  color: #494949;

  font-size: 20px;
  font-weight: 700;

  display: inline;
  right: 4%;
  position: absolute;

  transition: all 0.4s ease 0s;
}

.title-text:hover {
  color: #303030;
}

.normal_button {
  width: 100px;
  color: #494949;
  border: 4px solid #494949 !important;
  background-color: #FFFFFF;
}

#btn-segments {
  padding-top: 15px;
  width: 50px;
}

input.memory_button[type=button] {
  width: 45px;
  height: 25px;
  margin-top: 3px;
  color: #494949;
  border: 4px solid #494949;
  background-color: #FFFFFF;
}

input.memory_button[type=button]:hover {
  color: #ffffff !important;
  background: #46494c !important;
  border-color: #46494c !important;
  transition: all 0.4s ease 0s;
}

input[type=button] {
  width: 90px;
  height: 50px;

  margin-right: 43.5px;

  font-size: 13px;
  font-weight: 700;

  color: #494949;
  border: 4px solid #494949 !important;
  border-radius: 2px; 
  background-color: #FFFFFF;

  transition: all 0.4s ease 0s;
}

input[type=button]:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

#btnStartOS:hover {
  background: #00CC66;
  border-color: #00CC66 !important;
}

#btnHaltOS:hover {
  background: #FF3333;
  border-color: #FF3333 !important;
}

#btnReset:hover {
  background: #f6b93b;
  border-color: #f6b93b !important;
}

#btnStep {
  margin-right: 5px;
}

#btnStep:hover {
  background-color: #46494c;
  border-color: #46494c !important;
}

#btnNext {
  width: 30px;
  height: 50px;

  display: none;
}

#btnNext:hover {
  background: #57cc99;
  border-color: #57cc99!important; 
}

/* OS Wrapper + OS Conatiner */
.os {
  padding-top: 15px;
  width: 100vw;
  display: block;
}

.os-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50vw;
  grid-gap: 1em;
}

.flex-wrapper {
  display: flex;
}

/* OS Console */
.os-console {
  display: flex;
}

#display {
  background-color:#DFDBC3;
  cursor: default;
}

table {
  background-color: #A9A9A9;
  border: 4px solid #494949 !important;
  border-radius: 1px; 

  text-align: center;
}

.console-task-bar {
  width: 500px; 
  height: 45px; 

  font-size: 13px;
  font-weight: 700;

  text-transform: uppercase;
  
  border: 4px solid #494949 !important;
  border-radius: 1px; 
  background-color: #FFFFFF;
  border-bottom: none;

  float: left;
}

#taskbar li {
  display: inline;
  padding-top: 2px;
}

#display {
  border: 4px solid #494949 !important;
  border-radius: 1px; 
  background-color: #A9A9A9;
  border-top: none;
}

/* Hardware Display */
.hardware-display {
  justify-content: center;
}

.hardware-wrapper {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 50vw;
  grid-gap: 1em;  
}

label {
  font-size: 13px;
  font-weight: 700;

  color: #494949;
}

table {
  width: 100%;
}

tbody {
  width: auto;
  text-align: center;
}

#border-cell {
  border: 1px solid #494949;

}

.div-block {
  width: 250px;
  height: 51px !important;
}

#divP {
  display: block;
  margin-top: 2em;
}

#divHD {
  display: block;
  border: none;
}

#tableHD {
  width: 450px;
  table-layout: fixed;
}

#tableHD thead {
  background-color: #737373;
  border: 4px solid #494949;
}

#tableHD thead th {
  background-color: #A9A9A9;

  position: sticky;
  top: 0;
  z-index: 2;
}

#table-wrapper {
  height: 674px;
  width: 450px;

  border-top: 4px solid #494949;
  border-bottom: 4px solid #494949;

  overflow-y: auto;
}

#tableP {
  width: 270px; 
}

#divCPU {
  height: 33px;
}

#tableCPU {
  width: 270px;
}

.horizontal-scroll {
  overflow: scroll;
  overflow-y: hidden;
}

/* Information Display */
.info-display {
  width: 62vw;
  display: block;

  margin-left: 4px;
  margin-top: 10px;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20vw;
  grid-gap: 1em; 
}

/* Footer */
.footer-div {
  display: block;
  height: 50px;
  width: 100vw;

  color: #494949;
  font-family: Arial, Helvetica, sans-serif;  
}

.footer-list {  
  width: 100vw;
  text-align: center;
  list-style: none;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.footer-element {
  display: inline;
}

.footer-divider {
  margin-left: 1em;
  margin-right: 1em;
}

.footer-link {
  color: #494949;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.footer-link:hover {
  color: #A0A0A0;
  transition: all 0.4s ease 0s; 
}
